# Data Science Tools and Ecosystem using

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**<br>
- List popular languages used in data science
- List popular libraries used in data science
- List popular data scienc tools
- Examples of simple arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. sklearn
2. pandas
3. NumPy

<div style="display: inline-block; text-align: left;">

| Data Science Tools |
|:-------------------|
| Jupyter Notebook |
| Spyder |
| RStudio |
</div>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Aleksandra Kopytek